<!DOCTYPE HTML>
<!--
	Aesthetic by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>
		{% block Title %}
    {% endblock %}
	</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by GetTemplates.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="GetTemplates.co" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/animate.css')}}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/icomoon.css')}}">
	<!-- Themify Icons-->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/themify-icons.css')}}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css')}}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/magnific-popup.css')}}">

	<!-- Bootstrap DateTimePicker -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-datetimepicker.min.css')}}">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/owl.carousel.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/owl.theme.default.min.css')}}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">

	<!-- Modernizr JS -->
	<script src="{{ url_for('static',filename='js/modernizr-2.6.2.min.js')}}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
 {% block css %}
    {% endblock %}

    {% block js %}
    {% endblock %}
    
	</head>
<body>
		
	<div class="gtco-loader"></div>
	
	<div id="page">

	
	<!-- <div class="page-inner"> -->
	<nav class="gtco-nav" role="navigation" style="background-color: black;" data-stellar-background-ratio="0.5">
		<div class="gtco-container">
			
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div id="gtco-logo"><a href="/">Savory <em>.</em></a></div>
				</div>
				<div class="col-xs-8 text-right menu-1">
					<ul>
						<li><a href="/about">關於我們</a></li>
						<li><a href="/food">美食天地</a></li>
						<li><a href="/diyfood">快樂做菜</a></li>
						<li class="btn-cta"><a href="/contact"><span>聯絡我們</span></a></li>
					</ul>	
				</div>
			</div>
			
		</div>
	</nav>
	

<div class="gtco-section">
		<div class="main">

		{% block mainContent %}
		{% endblock %} 
		</div>
</div>

<footer id="gtco-footer" role="contentinfo" style="background-image: url(images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row row-pb-md">

				

				
				<div class="col-md-12 text-center">
					<div class="gtco-widget">
						<h3>Get In Touch</h3>
						<ul class="gtco-quick-contact">
							<li><a href="#"><i class="icon-phone"></i> +1 234 567 890</a></li>
							<li><a href="#"><i class="icon-mail2"></i> info@GetTemplates.co</a></li>
							<li><a href="#"><i class="icon-chat"></i> Live Chat</a></li>
						</ul>
					</div>
					<div class="gtco-widget">
						<h3>Get Social</h3>
						<ul class="gtco-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-12 text-center copyright">
					<p><small class="block">COPYTIGHT ©2022 WU DESGIN. ALL RIGHTS RESERVED. </small> 
						<small class="block">Designed by <a href="http://gettemplates.co/" target="_blank">GetTemplates.co</a> Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a></small></p>
				</div>

			</div>

			

		</div>
</footer>
	<!-- </div> -->

	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="{{ url_for('static',filename='js/jquery.min.js')}}"></script>
	<!-- jQuery Easing -->
	<script src="{{ url_for('static',filename='js/jquery.easing.1.3.js')}}"></script>
	<!-- Bootstrap -->
	<script src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
	<!-- Waypoints -->
	<script src="{{ url_for('static',filename='js/jquery.waypoints.min.js')}}"></script>
	<!-- Carousel -->
	<script src="{{ url_for('static',filename='js/owl.carousel.min.js')}}"></script>
	<!-- countTo -->
	<script src="{{ url_for('static',filename='js/jquery.countTo.js')}}"></script>

	<!-- Stellar Parallax -->
	<script src="{{ url_for('static',filename='js/jquery.stellar.min.js')}}"></script>

	<!-- Magnific Popup -->
	<script src="{{ url_for('static',filename='js/jquery.magnific-popup.min.js')}}"></script>
	<script src="{{ url_for('static',filename='js/magnific-popup-options.js')}}"></script>
	
	<script src="{{ url_for('static',filename='js/moment.min.js')}}"></script>
	<script src="{{ url_for('static',filename='js/bootstrap-datetimepicker.min.js')}}"></script>


	<!-- Main -->
	<script src="{{ url_for('static',filename='js/main.js')}}"></script>

	</body>
</html>

